# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for data scientists
- Name some commonly used libraries for data scientists
- Show some examples of arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Keras
3. PyTorch
4. SciPy

| Data Science Tools |
|:------------------:|
| Apache AirFlow |
| Kibana |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [3]:
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60

In [17]:
x = 200
y = x/60

In [18]:
y

3.3333333333333335

## Author
Fardowsa Abdulle